/.phpunit.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor/*
!/vendor/robsontenorio/
/vendor/robsontenorio/*
!/vendor/robsontenorio/mary/
/vendor/robsontenorio/mary/*
!/vendor/robsontenorio/mary/src/
/vendor/robsontenorio/mary/src/*
!/vendor/robsontenorio/mary/src/Traits/
!/vendor/robsontenorio/mary/src/View/
/vendor/robsontenorio/mary/src/View/*
!/vendor/robsontenorio/mary/src/View/Components/
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.zed
